# Python artifacts
__pycache__/
*.pyc

# dbt artifacts & logs
dbt_project/logs/
dbt_project/target/

# Excel temp files
temp_xlsx/

# Credentials
bq-creds.json

# macOS
.DS_Store

# ignorer le vrai profiles.yml local
dbt_project/profiles.yml